@import "@astryxdesign/core/reset.css";
@import "@astryxdesign/core/astryx.css";

html,
body,
#root {
  min-height: 100dvh;
}

body {
  font-family: var(--font-family-body);
  background: var(--color-background-body);
  color: var(--color-text-primary);
}
